#tracker #auth {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}

#clock-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#tracker .clock-in-out-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 200px;
}

#tracker .clock-in-out-buttons button {
    width: 100%;
    height: 200px;
}

#tracker .next-prev-buttons {
    display: flex;
    justify-content: center;
}

#tracker .next-prev-buttons div {
    padding: 10px 20px;
}

#tracker #date-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#tracker .table-btn:hover {
    cursor: pointer;
}

#tracker #date-details #details div {
    margin-top: 10px;
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12px;
}

#tracker .clockin-log:hover {
    cursor: pointer;
}

#tracker #check-in > div, #tracker #check-out > div {
    display: flex;
}