<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h4><center>Comercial Invoice</center></h4>

    <div class="invoice-info">
      <p><b>Invoice Number:</b> {{doc.name}}</p>
      <p><b>Invoice Date:</b> {{doc.posting_date}}</p>
      <p><b>Payment Terms:</b> {{doc.mode_of_payment}}</p>
      {% if doc.delivery_date %}
      <p><b>Due Date:</b> {{doc.delivery_date}}</p>
      {% endif %}
    </div>

    <div class="row mt-2">
      <div class="col-xs-6">
        <b>Sold To:</b>
        {% if sold_to %}
        <div style="margin-left: 20px">
          <p>{{sold_to.ais_company if "ais_company" in sold_to else "" }}</p>
          <p>
            {{sold_to.first_name if sold_to.first_name else ""}} {{
            sold_to.last_name if sold_to.last_name else "" }}
          </p>
          <p>{{sold_to.address_line1}}</p>
          <p>{{sold_to.address_line2}}</p>
          <p>{{sold_to.city}}, {{sold_to.state}}</p>
          <p>{{sold_to.pincode if "pincode" in sold_to else "" }}</p>
          <p>{{sold_to.country if "country" in sold_to }}</p>
        </div>
        {% else %}
        <p>-</p>
        {% endif %}
      </div>
      <div class="col-xs-6">
        <b>Shipped To:</b>
        {% if shipped_to %}
        <div style="margin-left: 20px">
          <p>
            {{shipped_to.ais_company if "ais_company" in shipped_to else "" }}
          </p>
          <p>
            {{shipped_to.first_name if shipped_to.first_name else ""}} {{
            shipped_to.last_name if shipped_to.last_name else "" }}
          </p>
          <p>{{shipped_to.address_line1}}</p>
          <p>{{shipped_to.address_line2}}</p>
          <p>{{shipped_to.city}}, {{shipped_to.state}}</p>
          <p>{{shipped_to.pincode if "pincode" in shipped_to else "" }}</p>
          <p>{{shipped_to.country if "country" in shipped_to else ""}}</p>
        </div>
        {% else %}
        <p>-</p>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <p><b>Order Number(s):</b> {{order_numbers}}</p>
        <p><b>Customer Email:</b> {{customer_email}}</p>
        <p><b>Customer Phone:</b> {{customer_phone}}</p>
        <p><b>Tracking Number:</b> {{tracking_number}}</p>
        <p><b>Customer PO(s):</b> {{customer_pos}}</p>
      </div>
      <div class="col-xs-6">
        <p><b>Ship Via:</b> {{ship_via}}</p>
        <p><b>Freight Terms:</b> {{freight_terms}}</p>
        <p><b>Sales Agent:</b> {{sales_person}}</p>
      </div>
    </div>

    <table style="width: 100%" class="ci_items_table">
      <thead>
        <th>Ctn.</th>
        <th>Item Name</th>
        <th>Qty Shipped</th>
        <th>U0M</th>
        <th>Wgt.(KG)</th>
        <th>C.O</th>
        <!-- <th>Unit Price</th> -->
        <th>Extended Amount</th>
      </thead>
      <tbody>
        {% for items_dict in itemss %} {% for template, items in
        items_dict.items() %} {% if template == "No Template" %} {% for item in
        items %}
        <tr>
          <td>{{item.from_case_no}}</td>
          <td>
            <span class="template_name">{{item.template_name}} </span><br /><b
              >Ordered: </b
            >{{item.items}}
          </td>
          <td>{{item.total_qty}}</td>
          <td>Kg</td>
          <td>{{item.total_weight}}</td>
          <td>{{item.country_of_origin}}</td>
          <!-- <td>{{item.rate}}</td> -->
          <td>{{item.total_amount}}</td>
        </tr>
        {% endfor %} {% else %} {% set totals = get_totals(items) %}
        <tr>
          <td>{{totals["from_case_no"]}}</td>
          <td>
            <span class="template_name">{{totals["template_name"]}} </span
            ><br /><b>Ordered: </b>{{totals["items"]}}
          </td>
          <td>{{totals["total_qty"]}}</td>
          <td>Kg</td>
          <td>{{totals["total_weight"]}}</td>
          <td>CA</td>
          <!-- <td>{{totals["rate"]}}</td> -->
          <td>{{totals["total_amount"]}}</td>
        </tr>
        {% endif %} {% endfor %} {% endfor %}
      </tbody>
    </table>
  </body>
</html>
