{% for row in items %}
	{% if row.qty > 0 %}
		<li class="item-li" data-item-code="{{row.item_code}}" data-pick-list="{{row.pick_list}}" 
			{% if row.tote %}
				data-tote="{{row.tote}}"
			{% endif %}
			>
			<p class="item-to-pick">
				<span class="pick-head">PICK</span><br>
				<span class="pick-qty">{{row.qty}}</span><br>
			</p>
			<div class="img-div"><img class="item-img" src="{{row.image}}" /></div>
			<!--<h3 class="item-h3">Headline</h3>-->
			<p class="item-p">
				<span class="item-aval">
					<span class="item-aval-label">On Hand: </span>
					{{row.actual_qty}}
				</span>
				<span style="clear: both;" class="item-location">
					<span style="float: left;">Bin:</span>
					<span style="float: left;">
						{% for location in row.locations %}
							&nbsp;{{location}}<br>
						{% endfor %}
					</span>
				</span><br>
				<span style="width: 100%; display: inline-block; clear: both;" class="item-code">{{row.item_code}}</span><br>
				<span style="clear: both;" class="item-name">{{row.item_name}}</span>
				{% if row.tote %}
					<br><span style="float: left;">Tote: {{row.tote}}</span>
				{% endif %}
			</p>
		</li>
	{% endif %}
{% endfor %}
