<div class="row">
	<ul class="list-top-nav col-md-12">
		<li><b><a class="alt-color back-to-home" href="#">Back</a></b></li>
		<li><center><b>Pick Lists</b></center></li>
		<li style="text-align: right;"><b><a class="alt-color refresh-orders" href="#">Refresh</a></b></li>
	</ul>
	<ul class="list-top-nav-desk col-md-12">
		<li><b><a class="alt-color back-to-home" href="#" >Back</a></b></li>
		<li><center><b>Pick Lists</b></center></li>
		<li style="text-align: right;"><b><a class="alt-color refresh-orders" href="#" >Refresh</a></b></li>
	</ul>
	<div class="pl-barcode"></div>
	<div class="pl-source"></div>
	<div class="col-md-12 orders-container">
		{% for pl in pick_lists %}
			<div class="order-list-div" data-pick-list="{{pl.name}}">
				<p>
					<b><span class="pick-list-name">{{pl.name}}</span></b><br>
					<span class="pick-order-no"><b>{{pl.sales_order}}</b><br></span>
					<span>
						{{pl.customer}}
						{% if pl.is_rush == 1 %}, Rush{% endif %}
					</span>
				</p>
			</div>
		{% endfor %}
	</div>
</div>
