<div class="row">
	<ul class="list-top-nav col-md-12">
		<li><b><a class="alt-color back-to-tote" href="#">Back</a></b></li>
		<li><center><b>Totes List</b></center></li>
		<li style="text-align: right;"><b><a class="alt-color refresh-orders" href="#">Refresh</a></b></li>
	</ul>
	<ul class="list-top-nav-desk col-md-12">
		<li><b><a class="alt-color back-to-tote" href="#" >Back</a></b></li>
		<li><center><b>Pick Lists</b></center></li>
		<li style="text-align: right;"><b><a class="alt-color refresh-orders" href="#" >Refresh</a></b></li>
	</ul>
	<div class="col-md-12">
		<center><span class="start-picking-btn"><a href="#">Start Picking</a></span></center>
	</div>
	<div class="filters-wrapper col-md-12">
		<div class="pl-multi-barcode col-md-2"></div>
		<div class="pl-multi-source col-md-2"></div>
		<div class="pl-multi-filters"></div>
	</div>
	<div class="col-md-12 pl-container">
		{% for pl in pick_lists %}
			<div class="pl-list-div col-md-12 picklist-box" data-pick-list="{{pl.name}}" style="display: flex;">
				<div class="col-md-6">
					<div class="pl-check-div">
						<input class="pl-check" type="checkbox" id="check-{{pl.name}}" value="{{pl.name}}" data-pick-list="{{pl.name}}" 
							{% for pick_list in selected_pick_lists %}
								{% if pick_list == pl.name %}
									checked
								{% endif %}
							{% endfor %}
						/>
					</div>
					<b><span class="pick-list-name">{{pl.name}}</span></b><br>
					<span class="pick-order-no"><b>{{pl.sales_order}}</b><br></span>
					<span>
						{{pl.customer_name}}<br>
					</span>
					<span>
						<b>QtyItems:</b> {{pl.qty_item}}
					</span>
				</div>
				<div class="col-md-6">
					{% if pl.is_rush == 1 %}
						<span class="pick-list-rush indicator-pill green ellipsis">Rush</span>
					{% endif %}
					<b>Locations</b><br>
					{{pl.locations}}
				</div>
			</div>
		{% endfor %}
	</div>
</div>
