.alt-color {
	color: #1ad1ff;
}

.div-summary {
	display: flex; 
	background-color: #FFF;
	margin: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.options-btn {
	background-color: #FFF; 
	height: 50px; 
	padding-top: 15px;
	margin-bottom: 10px;
}

.options-btn:hover {
	background: #eee;
	cursor: pointer;
}

.item-div {
	margin: 20px;
	padding: 0;
}

.img-div{
	width: 25%;
	float: left;
}
 
.item-ul {
	list-style-type: none;
	margin:0;
	padding: 0;
}
 
.item-h3 {
	font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
	margin: 0; 
	padding: 0;
}
 
.item-li .item-img {
	float: left;
	margin: 0 15px 0 0;
	padding: 0;
}
 
.item-li .item-p {
	font: 200 15px/1.5 Georgia, Times New Roman, serif;
	margin: 0; 
	padding: 0;
}
 
.item-li {
	padding: 10px;
	overflow: auto;
	background-color: #FFF;
	padding-left: 0;
	margin-bottom: 5px;
}
 
.item-li:hover {
	background: #eee;
	cursor: pointer;
	margin: 0;
	margin-bottom: 5px;
}

.item-p {
	float: left;
	margin-left: 5px !important;
	width: 65%;
}

.item-to-pick {
	float: left; 
	text-align: center; 
	margin: 5px;
}

.item-aval {
	float: right;
	font-size: 14px;
	color: green;
}

.pick-head {
	font-weight: bold; 
	font-size: 10px; 
	color: grey;
}

.pick-qty {
	font-weight: bold;
}

/*a {
	color: #1ad1ff;
}*/

.item-code {
	font-weight: bold;
}

.item-name {
	font-weight: bold;
	color: #696969;
}

.item-location {
	font-weight: bold;
}

.list-top-nav{
	display: none;
}

.list-top-nav li{
	display: inline-block;
	width: 32%;
}

.list-top-nav-desk {
	display: block;
	padding: 10px;
}

.list-top-nav-desk li{
	display: inline-block;
	width: 32%;
}

.order-list-div {
	background-color: #FFF; 
	padding: 5px;
	margin-bottom: 10px;
}

.item-barcode {
	display: block;
}

.submit-container{
	width: 50%; 
	padding-top: 50px; 
	padding-bottom: 50px; 
	margin-left: auto; 
	margin-right: auto; 
	background-color: #FFF;
}

.submit-pick{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}

.submit-pick a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
.submit-pick a:before,
.submit-pick a:after{
  position: absolute;
  content: "Submit";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #1ad1ff;
  box-sizing: border-box;
  border-radius: 5px;
}
.submit-pick a:before{
  color: #fff;
  background: #1ad1ff;
  transform: rotateY(0deg) translateZ(25px);
}
.submit-pick a:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
.submit-pick a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

.pl-barcode{
	width: 50%; 
	padding-left: 15px; 
	padding-right: 15px;
}

.pl-source{
	width: 50%; 
	padding-left: 15px; 
	padding-right: 15px;
}

.tote-check{
	margin-left: 15px;
}

.tote-barcode {
	display: block;
}

.tote-list-div {
	background-color: #FFF; 
	padding: 5px;
	margin-bottom: 10px;
}

.start-picking-btn{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}

.start-picking-btn a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
.start-picking-btn a:before,
.start-picking-btn a:after{
  position: absolute;
  content: "Start Picking";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #1ad1ff;
  box-sizing: border-box;
  border-radius: 5px;
}
.start-picking-btn a:before{
  color: #fff;
  background: #1ad1ff;
  transform: rotateY(0deg) translateZ(25px);
}
.start-picking-btn a:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
.start-picking-btn a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}
.tote-no{
	font-size: large;
}
.totes-list-div {
	background-color: #FFF; 
	padding: 5px;
	margin-bottom: 10px;
}
.tote-barcode{
	width: 100%;
	padding-left: 15px; 
	padding-right: 15px;
}

.pl-list-div {
	background-color: #FFF; 
	padding: 5px;
	margin-bottom: 10px;
	float: left;
}

.pl-check-div{
	width: 20px; 
	float: left; 
	margin-right: 15px;
}

.pl-multi-barcode{
	width: 50%; 
	padding-left: 15px; 
	padding-right: 15px;
}

.pl-multi-source{
	width: 50%; 
	padding-left: 15px; 
	padding-right: 15px;
}
	
@media only screen and (max-width: 992px) {
	/* For tablets and under */
	.list-top-nav {
		display: block;
		padding: 10px;
	}
	
	#picked-items-div {
		display: none;
	}
	
	.items-header {
		display: none;
	}
	
	.pick-order-no {
		color: grey;
	}
	
	/*.item-barcode{
		display: none;
	}*/
	
	.list-top-nav-desk{
		display: none;
	}
	
	.pl-barcode{
		width: 50%; 
		padding-left: 15px; 
		padding-right: 15px;
	}

	.pl-source{
		width: 50%; 
		padding-left: 15px; 
		padding-right: 15px;
	}
	
	.pl-multi-barcode{
		width: 50%; 
		padding-left: 15px; 
		padding-right: 15px;
	}

	.pl-multi-source{
		width: 50%; 
		padding-left: 15px; 
		padding-right: 15px;
	}
}

@media only screen and (max-width: 768px) {
	.item-aval-label {
		display: none;
	}
	
	.item-p {
		width: 60%;
	}
	
	.item-aval {
		float: right;
		font-size: 10px;
		color: green;
	}
	
	.item-picked {
		width: 55% !important;
	}
	
	.submit-container{
		width: 75%;
	}
	
	.pl-barcode{
		width: 100%; 
		padding-left: 15px; 
		padding-right: 15px;
	}

	.pl-source{
		width: 100%; 
		padding-left: 15px; 
		padding-right: 15px;
	}
	
	.pl-multi-barcode{
		width: 100%; 
		padding-left: 15px; 
		padding-right: 15px;
	}

	.pl-multi-source{
		width: 100%; 
		padding-left: 15px; 
		padding-right: 15px;
	}
}
