<!doctype html>
<html lang="en">

<head>
  <link href="bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="all.css">
  <link rel="stylesheet" href="bootstrap-table.min.css">
  <link rel="stylesheet" href="bootstrap-table-fixed-columns.min.css">
  <link rel="stylesheet" href="bootstrap-table-sticky-header.css">
  <style>
	.fix-sticky{
		top: 80px !important; 
	}
	
	.bootstrap-table{
		margin-top: 100px;
	}
	
	.fixed-table-toolbar{
		display: none !important;
	}
	
	.copy{
		font-size: 10px;
		padding: 0px !important;
	}
		 
  </style>
</head>

<body>

  <header>
    <div class="bg-dark" id="navbarHeader" style="position: fixed; top: 0px; width: 100%; z-index: 200;">
      <div class="container">
        <div class="form-row py-4">
          <div class="col-7">
            <input type="text" placeholder="Enter Barcode or SKU" class="form-control-plaintext white-text"
              id="searchinput" value="">
          </div>
          <div class="col">
			  <div style="float: left; width: 30%;">
				  <b id="item-title" style="font-size: 10px; color: #FFF; text-align: left !important;">Item Code</b><br>
				  <input  class="copy form-control-plaintext white-text" type="text" id="item_code" style=" width: auto; display: inline; color: #FFF; margin-right: 5px; font-weight: bold;" />
				  <a class="copy" href="#" onclick="copy_item_code()" id="copy-btn" style="color: red; margin-right: 30px;">Copy</a>
			  </div>
			  <div style="float: left; width: 30%;" id="copy-barcode"></div>
			  <div style="float: left; width: 30%;">
				  <button type="submit" onclick="test()" id="searchbutton" class="btn btn-primary mb-2">Search</button>
			  </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <table data-toggle="table" data-fixed-columns="true" data-sticky-header="true" data-sortable="true" data-fixed-number="1" data-search="true">
    <thead class="thead-dark">
      <tr>
        {% for column in columns %}
        <th data-sortable="true" scope="col">{{column}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
      <tr>
        {% for value in row %}
        <td>
          {{value}}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <main role="main">
    {% if columns %}
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="table-responsive">

        </div>

      </div>
    </div>

    {% endif %}
  </main>

  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
    </div>
  </footer>

  <script>
    var input = document.getElementById("searchinput");

    // Execute a function when the user releases a key on the keyboard
    input.addEventListener("keyup", function (event) {
      // Number 13 is the "Enter" key on the keyboard
      if (event.keyCode === 13) {
        // Cancel the default action, if needed
        event.preventDefault();
        // Trigger the button element with a click
        document.getElementById("searchbutton").click();
      }
    });
    function test() {
      console.log("test")
      var search_text = document.getElementById("searchinput").value
      var new_url = `${window.location.origin}/itemsearch?searchtext=${search_text}`
      window.location.href = new_url
    }
    
    function copy_item_code() {
	  var copyText = document.getElementById("item_code");

	  /* Select the text field */
	  copyText.select();
	  copyText.setSelectionRange(0, 99999); /* For mobile devices */

	  /* Copy the text inside the text field */
	  document.execCommand("copy");
	}
	
	function copy_barcode(barcode) {
	  var copyText = document.getElementById(barcode);

	  /* Select the text field */
	  copyText.select();
	  copyText.setSelectionRange(0, 99999); /* For mobile devices */

	  /* Copy the text inside the text field */
	  document.execCommand("copy");
	}
  </script>
  <script src="jquery.min.js"></script>
  <script src="bootstrap-table.min.js"></script>
  <script src="bootstrap-table-sticky-header.min.js"></script>
  <script src="bootstrap-table-fixed-columns.min.js"></script>
  <script>
	  $(document).ready(function() {
			$("#item_code").hide();
			$("#copy-btn").hide();
			$("#item-title").hide();
			$("table > tbody > tr").on("click", function() {
				item_column = this.cells.length - 2;
				barcode_column = this.cells.length - 4;
				$("#item_code").val(this.cells[item_column].innerHTML);
				$("#item_code").show();
				$("#copy-btn").show();
				$("#item-title").show();
				
				//For barcodes
				var barcode_html = this.cells[barcode_column].innerHTML;
				console.log(barcode_html)
				if(barcode_html != 'None' && barcode_html != ''){
					var barcodes = barcode_html.split('<br>')
					var barcode_copy = '<b style="font-size: 10px; color: #FFF; text-align: left !important;">Barcodes</b><br>';
					barcodes.forEach(function(barcode){
						html = '<input  class="copy form-control-plaintext white-text" type="text" id="' + barcode + '" style=" width: auto; display: inline; color: #FFF; margin-right: 5px; font-weight: bold;" value="' + barcode + '" />'
								+ '<a class="copy" href="#" onclick="copy_barcode(' + barcode + ')" id="copy-btn" style="color: red; margin-right: 30px;">Copy</a> <br>';
						barcode_copy = barcode_copy + html;
					});
					$('#copy-barcode').html(barcode_copy);
				}
				else{
					//Clear barcode html
					$('#copy-barcode').html('');
				}
			});
		});
  </script>
</body>

</html>
